/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-PC-Stats {
  width: 1000px;
  text-align: center;
  margin-left: 50px;
}

.MMM-PC-Stats .header {
  text-align: center;
  text-transform: none;
  font-size: 40px;
  font-family: "Macondo Swash Caps", cursive;
  font-weight: bolder;
  border: 2px solid yellow;
  border-radius: 25px;
  line-height: 55px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: yellow;               /* Header color. Default is white. */
}

.MMM-PC-Stats .ram {
  color: darkcyan;
  font-size: 40px;
  line-height: 50px;
}

.MMM-PC-Stats .yourCPU {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.MMM-PC-Stats .usage {
  color: #f00;
  font-size: 40px;
  line-height: 50px;
}

.MMM-PC-Stats .graphicsTemp {
  color: forestgreen;
  font-size: 40px;
  line-height: 50px;
}

.MMM-PC-Stats .core0Temp {
  color: burlywood;
  font-size: 40px;
  line-height: 50px;
}

.MMM-PC-Stats .core1Temp {
  color: maroon;
  font-size: 40px;
  line-height: 50px;
}

.MMM-PC-Stats .core2Temp {
  color: burlywood;
  font-size: 40px;
  line-height: 50px;
}

.MMM-PC-Stats .core3Temp {
  color: maroon;
  font-size: 40px;
  line-height: 50px;
}

.MMM-PC-Stats .core4Temp {
  color: burlywood;
  font-size: 40px;
  line-height: 50px;
}

.MMM-PC-Stats .core5Temp {
  color: maroon;
  font-size: 40px;
  line-height: 50px;
}

.MMM-PC-Stats .core6Temp {
  color: burlywood;
  font-size: 40px;
  line-height: 50px;
}

.MMM-PC-Stats .core7Temp {
  color: maroon;
  font-size: 40px;
  line-height: 50px;
}
